doctype html
html(lang="vi")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Trang Quản Trị


  body
    .admin-container
      h1 Chào mừng đến trang quản trị
      a(href="/admins/logout") Đăng xuất
