extends layouts/layout

block head
    link(rel="stylesheet" href="/css/lienhe.css") 

block content
  .contact-container
    .row
      .col-md-6.contact-info
        h2 Liên Hệ Với Chúng Tôi
        p
          strong CÔNG TY CỔ PHẦN XE KHÁCH Tự Ánh - FUTA BUS LINES
        p Địa chỉ: Số 01 Tô Hiến Thành, Phường 3, Thành phố Đà Lạt, Tỉnh Lâm Đồng, Việt Nam
        p Website: https://taxtbus.vn
        p Điện thoại: 02838386852
        p Fax: 02838386853
        p Email: hotro@taxtbus.vn
        p Hotline: 19006067

      .col-md-6.contact-form
        h3 
          i(class="fas fa-envelope") Gửi thông tin liên hệ đến chúng tôi
        form(action="#" method="POST")
          .form-group
            select
              option(value="") FUTA BUS LINES
          .form-row
            input(type="text" placeholder="Họ và tên" required)
            input(type="text" placeholder="Điện thoại" required)
          .form-row
            input(type="email" placeholder="Email" required)
            input(type="text" placeholder="Nhập Tiêu đề" required)
          textarea(placeholder="Nhập ghi chú" rows="3")
          button.btn-submit(type="submit") Gửi
