extends ../layouts/layout
block head
    script(src="/js/resetpassword.js")
block content
  .container.mt-5.mb-5
    .row
      // Sidebar
      .col-md-3
        .list-group
          a.list-group-item.list-group-item-action(href="/thong-tin-tai-khoan/thong-tin-chung")
            i.fas.fa-user-circle.me-2 
            | Thông tin tài khoản
          a.list-group-item.list-group-item-action(href="/thong-tin-tai-khoan/lich-su-mua-ve")
            i.fas.fa-clock.me-2 
            | Lịch sử mua vé
          a.list-group-item.list-group-item-action.active(href="/thong-tin-tai-khoan/resetpassword")
            i.fas.fa-key.me-2 
            | Đặt lại mật khẩu
          a.list-group-item.list-group-item-action.text-danger(href="/logout")
            i.fas.fa-sign-out-alt.me-2 
            | Đăng xuất

      // Nội dung
      .col-md-9
        h4.mb-4 Đặt lại mật khẩu
        p.text-muted Để bảo mật tài khoản, vui lòng chọn mật khẩu mạnh

        .card.shadow-sm.p-4
            form#resetPasswordForm(autocomplete="off")
                .mb-3
                    label.form-label(for="oldPassword") Mật khẩu hiện tại
                    input#oldPassword.form-control(type="password", name="oldPassword", required autocomplete="off")
                .mb-3
                    label.form-label(for="newPassword") Mật khẩu mới
                    input#newPassword.form-control(type="password", name="newPassword", required autocomplete="off")
                .mb-3
                    label.form-label(for="confirmPassword") Xác nhận mật khẩu mới
                    input#confirmPassword.form-control(type="password", name="confirmPassword", required autocomplete="off")
                .text-center.mt-4
                    button.btn.btn-warning.px-4(type="submit") Cập nhật mật khẩu
            .mt-3
                div#message.text-center


