.footer-container
  .footer-content
    .footer-info
      h3 TRUNG TÂM TỔNG ĐÀI & CSKH
      p.hotline 1900 6067
      p Địa chỉ: Số 01 Tô Hiến Thành, Phường 3, Đà Lạt, Lâm Đồng, Việt Nam.
      p Email:
        a(href="mailto:hotro@futa.vn") hotro@taxt.vn
      p Điện thoại: 02838386852
      p Fax: 02838386853
    .footer-social
      h3 KẾT NỐI VỚI CHÚNG TÔI
      a(href="#")
        img(src="/images/facebook.png" alt="Facebook")
      a(href="#")
        img(src="/images/youtube.png" alt="Youtube")
      a(href="#")
        img(src="/images/ins.png" alt="Instagram")
