doctype html
html(lang="vi")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Trang Quản Trị Admin
    link(rel="stylesheet" href="/css/styleAdmin.css") 
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css")
    block head 
  body
    .admin-wrapper
      include ../partials/sidebar
      .main-container
        include ../partials/headerAdmin
        .content
          block content
    script(src="/js/admin.js")
    script(src="https://cdn.jsdelivr.net/npm/chart.js")
